.example-form {
  width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.example-full-width {
  width: 100%;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}